@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #700032;
  
  --base-size: 16px;
  --scale-ratio: 1.25;
  --line-height: 1.25;
}

/* styles/globals.css */
@font-face {
  font-family: 'mariyam';
  src: url('./Mariyam.otf') format('opentype'),
       url('./Mariyam.ttf') format('truetype');
}

.mariyam {
  font-family: 'mariyam';
}

body {
  box-sizing: border-box;
  line-height: var(--line-height);
  background: var(--background);
  font-size: var(--base-size);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    line-height: var(--line-height);
    color: #700032;
  }

  h1{
    font-size: 3.813rem;
  }
  h2{
    font-size: 3.063rem;
  }
  h3{
    font-size: 2.438rem;
  }
  h4{
    font-size: 1.938rem;
  }
  h5{
    font-size: 1.563rem;
  }
  h6{
    font-size: 1.25rem;
  }
  p{
    font-size: 1rem;
  }
  small{
    font-size: 0.813rem;
  }
  em{
    font-size: 0.625rem;
  }

  .containerParent,nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerParent {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* link button */
  .link_button {
    @apply px-4 py-1 bg-[var(--primary)] text-white;
  }

  .link_button_outline{
    @apply px-2 py-1 border bg-white border-[var(--primary)] text-[var(--primary)]
  }
}