@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #27323a;
    --foreground: #ebba8c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  Arial, Helvetica, sans-serif;
}

.hero-left-slide-out {
  animation: slideOutLeft both;
  animation-timeline: scroll(root);
  animation-range: 0% 100vh;
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}

.hero-line-slide-right {
  animation: slideInRight both;
  animation-timeline: scroll(root);
  animation-range: 0% 100vh;
}

@keyframes slideInRight {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}


.hero-background-scroll-scale {
  animation: imageScale both;
  animation-timeline: view();
}

@keyframes imageScale {
  0% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 0;
  }
  50%{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 0.01;
  }
  100% {
    transform: translate3d(0px, 880px, 0px) scale3d(0.3, 0.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
  }
  
}